<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='Catering Service')"> </head>

<body>
<h4 th:text="'Elenco Buffet Chef ' + ${chef.nome} + ' ' + ${chef.cognome}"></h4>
<table>
    <tr>
        <th>Nome</th>
        <th>Descrizione</th>
        <th>Piatti</th>
        <th></th>
    </tr>
	<tr th:each="buffet : ${listBuffet}">
		<td><a th:href="@{'/buffet/' + ${buffet.id}}" th:text="${buffet.nome}" /></td>
		<td><th:block th:text="${buffet.description}" /></td>
		<th:block th:if="${not #lists.isEmpty(buffet.piatti)}">
		    <td><a href="piatti.html" th:href="@{'/piatti' + '/' + ${buffet.id}}"
		    th:text="Piatti"></a></td>
		</th:block>
		<th:block th:unless="${not #lists.isEmpty(buffet.piatti)}">
		    <td>Nessun Piatto</td>
		</th:block>
		<td>
		    <a th:href="@{'/admin/buffet/edit/' + ${chef.id} + '/' + ${buffet.id}}">Modifica</a>
		    &nbsp;
		    <a th:href="@{'/admin/buffet/delete/' + ${chef.id} + '/' + ${buffet.id}}">Cancella</a>
		</td>
	</tr>
</table>
<footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>

</html>