<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='SIW')"> </head>
<body>
    <div>
    	<h4>Menu</h4>
		<div>
			<a th:href="@{/chefs}">Elenco chef</a>
   		</div>
   		<div>
   		    <a th:href="@{/buffets}">Elenco buffets</a>
   		</div>
   		<div>
			<a th:href="@{/admin/chef/new}">Inserisci un nuovo chef</a>
   		</div>
   		<div>
			<a th:href="@{/logout}">Logout</a>
   		</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
</html>