<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='Catering Service')"> </head>

<body>
<h4 th:text="'Elenco Piatti: Buffet ' + ${buffet.nome}"></h4>
<table class="table">
<thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Descrizione</th>
        <th scope="col">Ingredienti</th>
        <th scope="col"></th>
    </tr>
</thead>
<tbody>
	<tr th:each="piatto : ${listPiatti}">
		<td><a th:href="@{'/piatto/' + ${piatto.id}}" th:text="${piatto.nome}" /></td>
		<td><th:block th:text="${piatto.description}" /></td>
		<th:block th:if="${not #lists.isEmpty(piatto.ingredienti)}">
		    <td><a href="ingredienti.html" th:href="@{'/ingredienti' + '/' + ${piatto.id}}"
		    th:text="Ingredienti"></a></td>
		</th:block>
		<th:block th:unless="${not #lists.isEmpty(piatto.ingredienti)}">
		    <td>Nessun Ingrediente</td>
		</th:block>
		<td>
		    <a class="btn btn-success" th:href="@{'/admin/piatto/edit/' + ${piatto.id}}">Modifica</a>
		    &nbsp;
		    <a class="btn btn-danger" th:href="@{'/admin/piatto/delete/' + ${buffet.id} + '/' + ${piatto.id}}">Cancella</a>
		</td>
	</tr>
</tbody>
</table>
<footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>

</html>