<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='Catering Service')"> </head>

<body>
<h4>Elenco chef</h4>
<table>
    <tr>
        <th>Chef</th>
        <th>Nazionalità</th>
        <th>Buffets</th>
    </tr>
	<tr th:each="chef : ${chefs}">
		<td>
		    <a th:href="@{'/chef/' + ${chef.id}}" th:text="${chef.nome} + ' ' + ${chef.cognome}" />
		</td>
		<td>
		    <th:block th:text="${chef.nazionalita}" />
		</td>
		<th:block th:if="${not #lists.isEmpty(chef.buffets)}">
		    <td><a th:href="@{'/buffets' + '/' + ${chef.id}}"
		    th:text="Buffets"></a></td>
		</th:block>
		<th:block th:unless="${not #lists.isEmpty(chef.buffets)}">
		<td>Nessun Buffet</td>
		</th:block>
	</tr>
</table>
<footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>

</html>
