<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='SIW')"> </head>
<body>
    <header th:replace="fragments/base.html :: headerbody"></header>
    <div>
    	<h4>Menu</h4>
		<form th:action="@{/chefs}" method="GET">
			<button type="submit">Elenco chef</button>
   		</form>
   		<form th:action="@{/buffets}" method="GET">
			<button type="submit">Elenco buffet</button>
   		</form>
   		<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/admin/chef/new}" method="GET">
			<button type="submit">Inserisci un nuovo chef</button>
   		</form>
    </div>
</body>
</html>