<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='Catering Service')"> </head>

<body>
    <header th:replace="fragments/base.html :: headerbody"></header>
	<div>
		<h1>Catering Service</h1>
		<p>
		Catering Service è una realtà tutta italiana capace 
		di affinare nel tempo, attraverso la passione per il proprio 
		mestiere, la coesistenza delle fitte particolarità della cucina 
		di tradizione mediterranea e regionale, con le tipicità del 
		panorama internazionale, nell’intento di soddisfare il più vasto 
		numero di gusti e necessità.
		</p>
		<p>
		Per consultare ed usufruire subito dei nostri servizi, registrati
        o accedi al tuo account utente.
		</p>
		<img style="width:60%" class="img" th:src="@{/images/chef.jpg} " />
	</div>
</body>

</html>